In [1]:
%%html
<style>
p {
    font-size: 1.5em !important;
    text-align: justify !important;
}

#notebook-container{ 
    background-color: rgb(252, 252, 234) !important;
    padding-top: 2px !important;
}

.CodeMirror-code{
    font-size: 1.5em !important;
}

.output_subarea{
    font-size: 1.5em !important;
    color: blue !important;
}

hr{
    border: 1px solid black;
}
pre{
    color: blue !important; 
}

</style>
<script>
   $( document ).ready(function () {
                     
            $("div#notebook-container").children().first().hide();       
       
     }); 
    
   var band=1;

    function truco(){ 
       if (band==1){
            $("div#notebook-container").children().first().show();
            band=0
       }else{
            $("div#notebook-container").children().first().hide();
            band=1           
       }    
    }

</script>

<img src="img/encabezado.jpg" ><br>
<h1>Lenguaje de programacion Python</h1>
<h2>Unidad 3 Librerías Pandas & NumPy</h2>
<hr>

<p>Aunque Python tiene varios tipos de datos estructurados, en la práctica no son nada adecuados para
cálculo numérico. Veamos un ejemplo de un cálculo numérico básico empleando listas:</p>

In [2]:
%%html
<button onclick="truco();">Hola</button>

In [3]:
lista = range(5) # Lista de numeros de 0 a 4

In [4]:
list(lista)

[0, 1, 2, 3, 4]

In [5]:
list(lista)*2

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [6]:
list(lista)*2.5

TypeError: can't multiply sequence by non-int of type 'float'

<p>En el ejemplo anterior vemos cómo al multiplicar una lista por un número entero, el resultado es concatenar la lista original tantas veces como indica el número, en lugar de multiplicar cada uno de sus
elementos por este número, que es lo a veces cabría esperar. Es más, al multiplicarlo por un número
no entero da un error, al no poder crear una fracción de una lista. Si quisiéramos hacer esto, se podría
resolver iterando cada uno de los elementos de la lista con un bucle for, por ejemplo:
</p>

In [ ]:
lista_nueva = [i*2.5 for i in lista]

In [ ]:
list(lista_nueva)

<p>aunque esta técnica es ineficiente y lenta, sobre todo cuando queremos evaluar funciones, polinomios o
cualquier otra operación matemática que aparece en cualquier problema científico.
    <b>Cuando realmente queremos hacer cálculos con listas de números, debemos usar los arrays</b>. El módulo
    <b>numpy</b> nos da acceso a los arrays y a una enorme cantidad de métodos y funciones aplicables a los
mismos. Naturalmente, numpy incluye funciones matemáticas básicas similares al módulo math, las
completa con otras más elaboradas y además incluye algunas utilidades de números aleatorios, ajuste
lineal de funciones y muchas otras.
</p>

<p>Para tabajar con numpy y los arrays, importamos el módulos de alguna manera:</p>

In [ ]:
import numpy         # Cargar el modulo numpy, o bien

In [ ]:
import numpy as np   # cargar el modulo numpy, llamándolo np, o bien

In [ ]:
from numpy import *  # cargar todas funciones de numpy

<p>Si cargamos el módulo solamente, accederemos a las funciones como <b>numpy.array()</b> o <b>np.array()</b>, según cómo importemos el módulo; si en lugar de eso importamos todas las funciones, accederemos a ellas directamente (e.g. <b>array()</b>). Por comodidad usaremos por ahora esta última opción,
aunque muy a menudo veremos que usa la notación <b>np.array()</b>, especialmente cuando trabajamos
con varios módulos distintos.
Un array se puede crear explícitamente o a partir de una lista de la forma siguiente:</p>

In [ ]:
 x = array([2.0, 4.6, 9.3, 1.2])     # Creacion de un array directamente

In [ ]:
x

In [ ]:
 notas = [ 9.8, 7.8, 9.9, 8.4, 6.7]  # Crear un lista

In [ ]:
type(notas

In [ ]:
 notas = array(notas)                # y convertir la lista a array

In [ ]:
notas

<p>Existen métodos para crear arrays automáticamente:</p>

In [ ]:
 numeros = arange(10.)               # Array de numeros(floats) de 0 a 9

In [ ]:
print(numeros)

In [ ]:
lista_ceros = zeros(10)              # Array de 10 ceros (floats)

In [ ]:
print(lista_ceros)

In [ ]:
 lista_unos = ones(10)               # Array de 10 unos (floats)

In [ ]:
print(lista_unos)

In [ ]:
otra_lista = linspace(10, 40, 5)     # Array de 4 números, de 10 a 40 ambos incluidos

In [ ]:
print(otra_lista)

<p>Los arrays se indexan prácticamente igual que las listas y las cadenas de texto; aquí hay algunos ejemplos</p>

In [ ]:
numeros

In [7]:
print(numeros[3:8])                  # Elementos desde el tercero al septimo

NameError: name 'numeros' is not defined

In [ ]:
print(numeros[:4])                   # Elementos desde el primero al cuarto

In [ ]:
print(numeros[5:])                   # Elementos desde el quinto al final

In [ ]:
print(numeros[-3]) # El antepenúltimo elemento (devuelve un elemento, no un array)

In [ ]:
print(numeros[:]) # Todo el array, equivalente a print(numeros)

In [ ]:
print(numeros[2:8:2]) # Elementos del segundo al septimo, pero saltando de dos en dos

<p>Al igual que las listas, podemos ver el tamaño de un array unidimensional con <b>len()</b>, aunque la manera
    correcta de conocer la forma de un array es usando el método <b>shape():</b>
</p>

In [8]:
print(len(numeros))

NameError: name 'numeros' is not defined

In [ ]:
print(numeros.shape)

<p>Nótese que el resultado del método <b>shape()</b> es una tupla, en este caso con un solo elemento ya que el
array numeros es unidimensional.
    Si creamos un array con <b>arange()</b> usando un número entero, el array que se creará será de enteros.
    Es posible cambiar todo el array a otro tipo de dato (como a <b>float</b>) usando el método <b>astype()</b>:</p>

In [ ]:
enteros = arange(6)    # Generando un array de 6 numeros enteros (0..6)

In [9]:
print(enteros)

NameError: name 'enteros' is not defined

In [ ]:
type(enteros[0])         # Verificando el tipo de dato de un elemento del array

In [ ]:
decimales = enteros.astype('float')  # Convirtiendo enteros a Float

In [10]:
decimales

NameError: name 'decimales' is not defined

In [ ]:
type(decimales)

In [ ]:
type(decimales[0])       # Verificando el tipo de dato de un elemento del array
                         # después de la conversión

In [ ]:
print(decimales)

In [11]:
print(decimales.shape)

NameError: name 'decimales' is not defined

<hr>
<h2>Operaciones con arrays</h2>
<hr>

<p>Los arrays permiten hacer operaciones aritméticas básicas entre ellos en la forma que uno esperaría que se hicieran, es decir, haciéndolo elemento a elemento; para ello siempre ambos arrays deben tener la <b>misma</b> longitud; por ejemplo:
</p>

In [12]:
x = array([5.6, 7.3, 7.7, 2.3, 4.2, 9.2])

NameError: name 'array' is not defined

In [ ]:
x

In [ ]:
decimales

In [13]:
print(x+decimales)

NameError: name 'x' is not defined

In [ ]:
print(x*decimales)

In [ ]:
print(x/decimales)

<p>Como podemos apreciar las operaciones se hacen elemento a elemento, por lo que ambas deben tener
    la misma forma (<b>shape()</b>). Fíjense que en la división el resultado del primer elemento es indefinido/infinito (Inf) debido a la división por cero.
Varios arrays se pueden unir con el método concatenate(), que también se puede usar para añadir
elementos nuevos:</p>

In [ ]:
 z = concatenate((x, decimales))

In [14]:
print(z)

NameError: name 'z' is not defined

In [ ]:
 z = concatenate((x,[7]))

In [ ]:
print(z)

<p>Es importante fijarse que los arrays o listas a unir deben darse como una tupla y de ahí los elementos entre paréntesis como <b> (x, [7]), (x, [2,4,7]) o (x, array([2,4,7]))</b>.
</p><p>Para añadir elementos, <b>numpy</b> tiene las funciones <b>insert()</b> y <b>append()</b>, que funcionan de manera similar a sus equivalentes en listas, pero en este caso son <b><i>funciones</i></b> y no <b><i>métodos</i></b> que se aplican a un array, si no que el array en cuestión hay que darlo como parámetro:
</p>

In [15]:
# Añadimos el elemento 100 al array z, al final
z = append(z, 100)

NameError: name 'append' is not defined

In [ ]:
print(z)

In [ ]:
# Añadimos el elemento 200 al array z, en el tercer puesto (índice 2)
z = insert(z, 2, 200)

In [ ]:
print(z)

<p>Como se ve, a diferencia de las listas, el primer parámetro es el array y luego el elemento que se quiere añadir, en el caso de <b>append()</b> y el array, la posición y luego elemento a añadir en el caso de
    <b>append()</b>. Esto se debe a que estas funciones devuelven una copia del array sin modificar el original como hacen los métodos de listas correspondientes. Si en lugar de un elemento a insertar se da una
    lista y otro array, añade todos los elementos de la lista (a <b>append()</b> habría que dar también una lista
de posiciones, como segundo parámetro).
    Además de las operaciones aritméticas básicas, los arrays de <b>numpy</b> tienen métodos o funciones específicas para ellas más avanzadas. Algunas de ellas son las siguientes:</p>

In [ ]:
 z.max()               # Valor máximo de los elementos del array

In [16]:
 z.min()               # Valor mínimo de los elementos del array

NameError: name 'z' is not defined

In [ ]:
z.mean()               # Valor medio de los elementos del array

In [ ]:
 z.std()               # Desviación típica de los elementos del array

In [ ]:
z.sum()                # Suma de todos los elementos del array

In [ ]:
median(z)              # Mediana de los elementos del array

<p>Los métodos, que se operan de la forma <b>z.sum()</b> también pueden usarse como funciones de tipo
    <b>sum(z)</b>, etc. Consulten el manual de <b>numpy</b> para conocer otras propiedades y métodos de los arrays o
    simplemente acudan y consulten la “<b><i>ayuda</i></b>” de las funciones que quieran utilizar.
Una gran utilidad de los arrays es la posibilidad de usarlos con datos booleanos <b>(True o False)</b> y
operar entre ellos o incluso mezclados con arrays con números. Veamos algunos ejemplos:
</p>

In [17]:
A = array([True, False, True])
B = array([False, False, True])

NameError: name 'array' is not defined

In [ ]:
A*B                         #  Multiplicación de Arreglos

In [ ]:
C = array([1, 2, 3])

In [ ]:
A*C

In [ ]:
B*C

<p>En este ejemplo vemos cómo al multiplicar dos arrays booleanos es resultado es otro array booleano con
el resultado que corresponda, pero al multiplicar los arrays booleanos con arrays numéricos, el resultado
es un array numérico con los mismos elementos, pero con los elementos que fueron multiplicados por
False iguales a cero.
Tambíén es posible usar los arrays como índices de otro array y como índices se pueden usar arrays
numéricos o booleanos. El resultado será en este caso un array con los elementos que se indique en el
array de índices numérico o los elementos correspondientes a True en caso de usar un array de índices
booleano. Veámoslo con un ejemplo:</p>

In [18]:
# Array con enteros de 0 a 9
mi_array = arange(0,100,10)

NameError: name 'arange' is not defined

In [ ]:
mi_array

In [ ]:
# Array de índices numericos con numeros de 0-9 de 2 en 2
indices1 = arange(0,10,2)

In [ ]:
indices1

In [ ]:
# Array de índices booleanos
indices2 = array([False, True, True, False, False, True, False,False, True, True])

In [19]:
indices2

NameError: name 'indices2' is not defined

In [ ]:
print(mi_array)

In [ ]:
print(mi_array[indices1])

In [ ]:
print(mi_array[indices2])

<p>También es muy sencillo crear arrays booleanos usando operadores lógicos y luego usalos como índices,
por ejemplo:</p>

In [20]:
# Creamos un array usando un operador booleano
mayores50 = mi_array > 50

NameError: name 'mi_array' is not defined

In [ ]:
print(mayores50)

In [ ]:
# Lo utilizamos como índices para seleccionar los que cumplen esa condición
print(mi_array[mayores50])

<hr>
<h2>Arrays multidimensionales</h2>
<hr>

<p>Hasta ahora sólo hemos trabajado con arrays con una sola dimensión, pero <b>numpy</b> permite trabajar con
arrays de más dimensiones. Un array de dos dimensiones podría ser por ejemplo un array que tuviera
como elementos un sistema de ecuaciones o una imagen. Para crearlos podemos hacerlo declarándolos
directamente o mediante funciones como <b>zeros()</b> o <b>ones()</b> dando como parámetro una tupla con
la forma del array final que queramos; o también usando <b>arange()</b> y crear un array unidimensional y
luego cambiar su forma. Veamos algunos ejemplos:</p>

In [21]:
# Array de 3 filas y tres columnas, creado implícitamente
arr0 = array([[10,20,30],[9, 99, 999],[0, 2, 3]])

NameError: name 'array' is not defined

In [ ]:
print(arr0)

In [22]:
# Array de ceros con 2 filas y 3 columnas
arr1 = zeros((2,3))

NameError: name 'zeros' is not defined

In [ ]:
print(arr1)

In [ ]:
# Array de unos con 4 filas y una columna
arr2 = ones((4,1))

In [23]:
print(arr2)

NameError: name 'arr2' is not defined

In [ ]:
# Array unidimensional de 9 elementos y cambio su forma a 3x3
arr3 = arange(9).reshape((3,3))

In [ ]:
print(arr3)

In [ ]:
arr2.shape

<p>Como vemos en la última línea, la forma o <b>shape()</b> de los arrays se sigue dando como una tupla, con
la dimensión de cada eje separado por comas; en ese caso la primera dimensión son las cuatro filas y
    la segunda dimensión o eje es una columna. Es por eso que al usar las funciones <b>zero()</b>, <b>ones()</b>,
    <b>reshape()</b>, etc. hay que asegurarse que el parámetro de entrada es una tupla con la longitud de cada
    eje. Cuando usamos la función <b>len()</b> en un array bidimensional, el resultado es la longitud del primer
    eje o dimensión, es decir, <b>len(arr2)</b> es <b>4</b>.
El acceso a los elementos es el habitual, pero ahora hay que tener en cuenta el eje al que nos referimos;
además podemos utilizar ”<b>:</b>” como comodín para referirnos a todo el eje. Por ejemplo:</p>

In [ ]:
# Primer elemento de la primera fila y primera columna (0,0)
arr0[0,0]

In [24]:
# Primera columna
arr0[:,0]

NameError: name 'arr0' is not defined

In [ ]:
# Primera fila
arr0[0,:]

In [ ]:
# Elementos 0 y 1 de la primera fila
arr0[0,:2]

<p>Igualmente podemos modificar un array bidimensional usando sus índices:</p>

In [25]:
# Asigno al primer elemento el valor 88
arr0[0,0] = 88

NameError: name 'arr0' is not defined

In [ ]:
arr0

In [ ]:
# Asigno elementos 0 y 1 de la segunda fila
arr0[1,:2] = [50,60]

In [ ]:
arr0

In [26]:
# Multiplico por 10 la última fila
arr0[-1,:] = arr0[-1,:]*10

NameError: name 'arr0' is not defined

In [ ]:
print(arr0)

<hr>
<h2>Cambiando el tamaño de arrays</h2>
<hr>

<p>Hemos visto que es fácil quitar y poner elementos nuevos en un array unidimensional. Pero con dos o
más dimensiones es algo más complicado porque estamos limitados a la estructura y número de elementos
    del array. Podemos cambiar la forma <b>(shape)</b> de un array a otra que tenga el mismo número de
    elementos fácilmente usado <b>reshape()</b>:   </p>

In [ ]:
numeros = arange(10000)         # Creando un Array unidimensional de 10000 números

In [ ]:
numeros_2D = numeros.reshape((100, 100))    # Cambiando a arreglo con 2 dimensiones

In [27]:
numeros_3D = numeros.reshape((100, 10, 10)) # Cambiando a arreglo con 3 dimensiones

NameError: name 'numeros' is not defined

In [ ]:
numeros.shape

In [ ]:
numeros

In [ ]:
numeros_2D.shape

In [ ]:
numeros_2D

In [ ]:
numeros_3D.shape

In [ ]:
numeros_3D

<p>Para añadir más filas o columnas a un array, la forma más efectiva es crear un array nuevo con la forma
deseada y luego añadir las filas o columnas, por ejemplo:</p>

In [28]:
A = arange(0, 10)

NameError: name 'arange' is not defined

In [ ]:
A

In [ ]:
B = arange(100, 1100, 100)

In [ ]:
B

In [ ]:
C = zeros((len(A), 2)) # 10 filas, dos columnas

In [29]:
C

NameError: name 'C' is not defined

In [ ]:
C[:,0] = A

In [ ]:
C[:,1] = B

In [ ]:
C

<p>Existen otros métodos de manipulación de la forma de los arrays como <b>hstack()</b>, <b>vstack()</b> o
    <b>tile()</b> entre otras.</p>

<hr>
<h2>Fitros y máscaras de arrays. Arrays enmascarados</h2>
<hr>

<p>Una de las mejores utilidades de numpy es trabajar con índices y máscaras de datos para limitar o
seleccionar parte de los datos. Supongamos que tenemos un array de datos, pero que solo nos interesa
los positivos, que queremos manipular después. Hay varias formas de seleccionarlos definiendo un array
máscara con la condición que nos interesa:</p>

In [30]:
datos = array([3, 7, -2, 6, 7, -8, 11, -1, -2, 8])

NameError: name 'array' is not defined

In [ ]:
datos

In [31]:
mask = datos >= 0

NameError: name 'datos' is not defined

In [ ]:
mask

In [ ]:
datos*mask

In [ ]:
datos[mask]

<p>Usando un array mask de booleanos, podemos operar con el el array de datos, cuando un valor se
    multiplica por <b><i>True</i></b> es equivalente a <b>multiplicarse por 1</b> y si es con <b><i>False</i></b>, a** multiplicarse por 0**.
Por eso el resultado es un array del mismo tamaño, pero los elementos que no cumplen la condición se
hacen 0.</p>
<p>Si por el contrario usarmos usamos mask como un <b>array de índices</b>, el resultado es un array con los
elementos cuyo índice corresponda con <b><i>True</i></b>, ignorando los de índice <b>False</b>. Usaremos uno u otro según lo que queramos hacer, el truco consiste es crear de manera correcta la máscara de datos.</p>
<p>Veamos el caso de un array 2D con dos columnas, pero queremos limitar todos los datos en criterios
en las dos columnas. Primero creamos una máscara como producto de las dos condiciones, y luego la
usamos como array de índices en el array original:</p>

In [32]:
from numpy import random

In [33]:
datos2 = random.randint(-10, 20, (10,2))

In [34]:
datos2

array([[-8, 17],
       [14,  4],
       [16, -1],
       [14,  6],
       [18, 10],
       [ 0,  7],
       [ 9, -6],
       [ 1,  9],
       [13,  1],
       [ 1, 18]])

In [35]:
# Solo queremos los datos que el la columna 0 sean mayores
# que 0 pero menores que 10 en la columna 1
condicion1 = datos2[:,0] > 0

In [36]:
condicion2 = datos2[:,1] < 10

In [37]:
mask_col0 = condicion1*condicion2

In [38]:
mask_col0

array([False,  True,  True,  True, False, False,  True,  True,  True,
       False])

In [39]:
datos2[mask_col0]

array([[14,  4],
       [16, -1],
       [14,  6],
       [ 9, -6],
       [ 1,  9],
       [13,  1]])

<p>Como se ve, el resultado es un array de dos columna, donde en la primera columna son todos positivos
y en la segunda menores que +10. ¿Y si queremos que al menos se cumpla una condición? Simplemente
tenermos que sumar las dos máscaras (las de cada columna) en lugar de multiplicarla, básicamente es
    como multiplicar o sumar unos o ceros <b><i>(True o False)</i></b>.
</p>
<p>Como este tipo de operaciones tienen mucho potencial y pueden llegar a se complejas. <b>numpy</b> tiene un
    módulo que puede ayudar en estos casos, que es el de arrays enmascarados (<b>numpy.ma</b>). Se trata de un
tipo de datos que permite ignorar algunos elementos de un array según ciertas condiciones. Vemos un
ejemplo:</p>

In [40]:
import numpy.ma as ma

In [41]:
x = array([1, 2, 3, -1, 5])

NameError: name 'array' is not defined

In [ ]:
# Enmascaramos en cuarto elemento
mx = ma.masked_array(x, mask=[0, 0, 0, 1, 0])

In [ ]:
print(mx.mean())

In [ ]:
print(x.mean())

<p>Como se ve, el array enmascarado ha ignorado el valor que se enmascara con <b>True</b> dando un resultado
distinto en la media, pero no lo ha eliminado del array.</p>

In [ ]:
x.view(ma.MaskedArray)

In [ ]:
mx.view(ma.MaskedArray)

<hr>
<h1>----   Investigar Arrays Estructurados   -----</h1>
<hr>
<br>
<br>
<hr>
<h2>Lectura y escritura de datos con numpy</h2>
<hr>

<p>numpy incluye algunos métodos de lectura de ficheros de texto que nos pueden facilitar la vida si
    son relativamente sencillos. En más sencillo es <b>loadtxt()</b>; si todos las columnas del fichero son
numéricas, basta con indicar el delimitador de columnas si es distinto de espacios:</p>

In [ ]:
# Leo un archivo de datos con campos delimitados por ";"

data = loadtxt("datos/datos_numpy1.txt", delimiter=";")

In [ ]:
data.shape

In [ ]:
data

<p>Si hay más de una columna como en este ejemplo, <b><i>loadtxt()</i></b> devuelve un array bidimiensional en el que <b>primera dimensión o eje son las filas</b> y el segundo las columnas, de maneras que el fichero
    que acabamos de leer tiene <b>4</b> filas y <b>2</b> columnas. Quizás sea más práctico poner la columnas por
separado, para lo que podemos hacer:</p>

In [ ]:
tiempo = data[:,0] # tiempo, la primera columna

In [ ]:
masa = data[:,1] # masa, la segunda columna

In [ ]:
tiempo

In [ ]:
masa

<p>pero si al leer añadimos el parámetro <b><i>unpack=True, loadtxt()</i></b> desempaqueta por columnas en lugar de por filas (como si invirtiera el array), perminiéndonos desempaquetar en variables las columnas, que ahora están en el eje 0:</p>

In [ ]:
tiempo2, masa2 = loadtxt("datos/datos_numpy1.txt", delimiter=";",unpack=True)

In [ ]:
tiempo2

In [ ]:
masa2

<p>Si el fichero a leer tiene distintos tipos datos <b>(string y float)</b>, hay que indicar con el parámetro <b>dtype</b> la lista de tipos de dato que tienen las columnas que queremos leer. En este caso es más práctico usar el método <b>genfromtxt()</b>, que similar a <b>loadtxt()</b> pero más flexible para leer columnas de distinto tipo. Si usamos <b>genfromtxt()</b> con el parámetro dtype, que puede ser una lista con tuplas nombretipo, podemos indicar el nombre de la columna y el tipo dato que contiene, creando un array estructurado como vimos antes:</p>

In [ ]:
dtypes = [('tiempo', 'float'), ('masa', 'float')]

In [ ]:
data = genfromtxt('datos/datos_numpy1.txt',delimiter=";", dtype=dtypes)

In [ ]:
data

In [ ]:
data["tiempo"]

In [ ]:
data["masa"]

<p>En este caso ya no hay que usar el desempaquetado, porque tenemos un array estructurado con columnas con nombre <b>data['tiempo']</b> y <b>data['masa']</b>.
</p>
<p>De manera parecida, podemos usar <b>savetxt()</b> para guardar un fichero de datos por columnas:</p>

In [ ]:
# Guardo un array datos en un fichero de texto, con los campos
# delimitados por tabulador (\t) en formato float con dos decimales
# y le paso una cabecera
savetxt('datos/datos.tsv', data, delimiter='\t', fmt='%.2f', header="tiempo\t masa")

<p>En este ejemplo delimitamos las columnas por tabuladores (<b>\t</b>), escribimos los números como floats con dos decimales ( <b>%.2f</b>, por defecto es notación científica) y añadimos un string que hace de cabecera.</p>

<hr>
<h2>Cálculo matricial con numpy</h2>
<hr>

<p><b>numpy</b> incluye algunas funciones para álgebra y cálculo matricial, en el que es clave el tipo de dato matrix. Es similar al array, pero opera como una matrix y tiene método propios de las matrices.</p>

In [ ]:
A = array([[1,2,3], [4,5,6], [7,8,9]])

In [ ]:
Am = mat(A)

In [ ]:
A*A             # Aquí hace producto matricial, no elemento a elemento como con arrays

In [ ]:
Am*Am

In [ ]:
Am.T            # Matriz traspuesta

In [ ]:
Am.diagonal()

In [ ]:
linalg.det(Am)  # Determinante

In [ ]:
linalg.eigvals(Am) # Autovalores

<p><i>"Los autovalores de una matriz son las raíces de su polinomio característico, y los autovectores son las soluciones del sistema de ecuaciones . Si la matriz es diagonal, los autovalores son los elementos de la diagonal principal. Por tanto, la matriz tiene un único autovalor, , con orden de multiplicidad 3."</i></p>

<hr>
<h2>Librería PANDAS</h2>
<hr>

<p>La librería pandas (nombre derivado de <b><i>panel data</i></b>, término usado para referirse a conjuntos de datos estructurados multidimensionales) proporciona estructuras de datos y funciones de alto nivel que nos permiten trabajar con datos estructurados de manera muy cómoda. Estas estructuras y funciones son, normalmente, de las más usadas en análisis de datos.</p>

<p>Los principales objetos ofrecidos por pandas son el <b>dataframe</b>, estructura tabular bidimensional y la <b>serie</b>, ambas basadas en el array multidimensional de <b>NumPy</b>. Aun cuando <b>NumPy</b> ofrece una muy conveniente y eficiente estructura para el almacenamiento de datos, el <b>ndarray</b>, éste presenta importantes limitaciones cuando, durante un análisis, se hace necesaria más flexibilidad a la hora de aplicar etiquetas a nuestros datos, gestionar valores inexistentes, realizar agrupaciones por etiquetas, etc., limitaciones que son resueltas por las estructuras de más alto nivel ofrecidas por pandas.</p>

<p>La documentación oficial está disponible en el sitio <a href="https://pandas.pydata.org/" target="blank">web oficial de pandas</a>.</p>

<p>Esta librería se importa habitualmente con el alias <b>pd</b>:</p>

In [ ]:
import pandas as pd

<cite>Para poder hacer uso de las estructuras ofrecidas por pandas o de cualquiera de las funciones o métodos que incluye, deberás importar previamente la librería con la instrucción anterior.</cite>

In [ ]:
s = pd.Series([-2,0,3,6])

In [ ]:
print(s)

<p>Como se ha comentado, pandas se basa en la funcionalidad de NumPy, por lo que numerosas funciones de esta última librería son perfectamente aplicables a las series y a los dataframes. Para poder probarlas, también deberemos importar la función NumPy, tal y como se ve en la anterior imagen.</p>
<p>Comencemos revisando las características básicas y algunos de los atributos de las <b>series</b> y los <b>dataframes</b>.</p>

<hr>
<h2>Series</h2>
<hr>

<p>Las series son estructuras unidimensionales conteniendo un array de datos (de cualquier tipo soportado por <b>NumPy</b>) y un array de etiquetas que van asociadas a los datos, llamado <b><i>índice</i></b> (<b><i>index</b></i> en la literatura en inglés):

</p>

In [ ]:
ventas = pd.Series([15,12,21],index=["Ene","Feb","Mar"])

In [ ]:
ventas

<p>Los elementos de la serie pueden extraerse con el nombre de la serie y, entre corchetes, el índice (<b>posición</b>) del elemento:</p>

In [ ]:
ventas[0]

<p>...o su etiqueta, si la tienen -tal y como ocurre en el ejemplo mostrado en <b>ln[10]:</b></p>

In [ ]:
ventas["Ene"]

<p>Las etiquetas que forman el índice no necesitan ser diferentes. Pueden ser de cualquier tipo (<b>numérico, textos, tuplas...</b>) siempre que sea posible aplicar la función <b>hash</b> sobre ellas.</p>

<p>Es de destacar que el lazo entre una etiqueta y un valor se mantendrá salvo que lo modifiquemos explícitamente. Esto quiere decir que filtrar una serie o eliminar un elemento, por ejemplo, no modifica las etiquetas asignadas a cada valor.</p>

<p>Otro comentario importante es al respecto de la inmutabilidad del array de etiquetas: aun cuando es posible asignar a dicho array un nuevo conjunto de valores a través del atributo index de la serie, intentar modificar un único valor del index va a devolver un error.</p>

<p>Al igual que ocurre con el array <b>NumPy</b>, una serie <b>pandas</b> solo puede contener datos de un mismo tipo. En la imagen anterior puede apreciarse el índice a la izquierda (<b>"Ene", "Feb" y "Mar"</b>) y los datos a la derecha (<b>15, 12 y 21</b>). El tipo de la serie, accesible a través del atributo dtype (que en <b>Out[11]</b> se muestra en la parte inferior: <b>int64</b>), coincide con el tipo de los datos que contiene:</p>

In [ ]:
ventas.dtype

<p>Podemos acceder a los objetos que contienen los índices y los valores a través de los atributos index y values de la serie, respectivamente:</p>

In [ ]:
ventas.index

In [ ]:
ventas.values

<p>Puede apreciarse en <b>Out[16]</b> que el índice es de tipo "objeto".</p>

<p>La serie tiene, además, un atributo <b>name</b>, atributo que también encontramos en el índice. Una vez que los hemos fijado, se muestran junto con la estructura al imprimir la serie:</p>

In [ ]:
ventas.name = "Ventas 2018"

In [ ]:
ventas.name

In [ ]:
ventas

In [ ]:
ventas.index.name = "Meses"

In [ ]:
ventas

<p>Obsérvese cómo, en esta última imagen, en salida <b>Out[23]</b>, tanto la serie como el índice se muestran con su nombre (<b>"Ventas 2018"</b> y <b>"Meses"</b>, respectivamente).</p>

<p>El atributo <b>axes</b> nos da acceso a una lista con los ejes de la serie (solo contiene un elemento al tratarse de una estructura unidimensional):</p>

In [ ]:
ventas.axes

<p>El atributo <b>shape</b> nos devuelve el tamaño de la serie:</p>

In [ ]:
ventas.shape

<p>Tenemos un listado completo de los atributos de las series en la <a href="https://pandas.pydata.org/pandas-docs/stable/reference/series.html"> documentación oficial de pandas</a>.</p>

<hr>
<h2>Dataframes</h2>
<hr>

<p>Los dataframes son estructuras tabulares de datos orientadas a columnas, con etiquetas tanto en filas como en columnas:</p>

In [ ]:
ventas = pd.DataFrame({
    "Entradas":[41,32,56,18],
    "Salidas":[17,54,6,78],
    "Valoración":[66,54,49,66],
    "Cambio":[1.43,1.16,-0.67,0.77]
    
},
    index = ["Ene","Feb","Mar","Abr"]

)

In [ ]:
ventas

<p>Se puede apreciar en la imagen anterior que hemos pasado al constructor <b>pd.DataFrame</b> un <b>diccionario</b> y una <b>lista</b>: las <b>claves</b> del diccionario serán los nombres de las columnas, sus <b>valores</b>, los valores de las columnas, y los <b>valores de la lista</b> se convertirán las <b>etiquetas</b> de filas.</p>

<p>Una columna solo puede contener un tipo de datos, pero cada columna del dataframe puede contener un tipo de datos diferente. Podemos acceder a los tipos de las columnas con el atributo <b>dtypes</b>:</p>

In [ ]:
ventas.dtypes

<p>Las <b>etiquetas</b> de filas y de columnas <b><i>-los índices-</i></b> son accesibles a través de los atributos <b>index</b> y <b>columns</b>, respectivamente:</p>

In [ ]:
ventas.index

In [ ]:
ventas.columns

<p>El <b>eje 0</b> es el correspondiente al <b>índice</b> de filas (<b>eje vertical</b>) y el <b>eje 1</b> al <b>índice</b> de columnas (<b>eje horizontal</b>). Como puede verse en las imágenes anteriores, salidas <<b>Out[33]</b> y <<b>Out[34]</b>, ambos índices son de tipo "<b>objeto</b>" (ya se ha comentado que, concretamente, son objetos de tipo Index).</p>

<p>El atributo <b>axes</b> devuelve una lista con los ejes de la estructura (dos, al tratarse de una estructura bidimensional):</p>

In [ ]:
ventas.axes

<p>Al igual que ocurría con las series, los índices de filas y columnas son inmutables. Esto significa que, aunque podemos asignar un nuevo conjunto de datos (etiquetas) a ambas estructuras (<b>index</b> o <b>columns</b>), intentar modificar un único valor devolverá un error</p>.

<p>Tanto el índice de filas como el de columnas poseen el atributo <b>name</b>. Una vez fijado, se muestra al imprimir la estructura:</p>

In [ ]:
ventas.index.name = "Meses"

In [ ]:
ventas.columns.name="Métricas"

In [ ]:
print(ventas)

<h1> Librerias PANDAS </h1>

In [ ]:
#importando la libreria PANDAS
import pandas as pd

In [ ]:
# Generando nmuestros datos 
datos = {
    'Nombres':['Ana','Luz','Armando','Luis'],
    'Calificaciones':['100','90','100','80'],
    'Deportes':['Fútbol','Natación','Básquetbol','Béisbol'],
    'Materias':['Cálculo','Métodos numéricos','Álgebra','Química']
}

In [ ]:
# Creando nuestro DATAFRAME
df = pd.DataFrame(datos)
print(df)

In [ ]:
import pandas as pd
import numpy as np

datos2 = {
    'Nombres':['Ana','Luz','Armando','N/A'],
    'Calificaciones':['100','90',np.nan,'80'],
    'Deportes':['Fútbol','Natación','Básquetbol','N/A'],
    'Materias':['Cálculo','Métodos numéricos','N/A','Química']
}

df2 = pd.DataFrame(datos2)

In [ ]:
print(df2)

In [ ]:
print(df2.info())  # Describre de la informacion general del DataFrame
                   # DataFrame
                   # Nombre: 4 no núlos
                   # Calificaciones: 3 no nulos

In [ ]:
print(df2.describe()) # Estadisticas básicas de los valores

In [ ]:
# Observación: Todos los valores son cadenas(calificaciones to = 90)

In [ ]:
#Limpieza: Caso 1: Cambiando valores NaN por 0

In [ ]:
nuevo = pd.DataFrame(df2)
nuevo = nuevo.replace(np.nan,0)

In [ ]:
print(nuevo)

In [ ]:
# Limpieza Caso 2: eliminando filas con valor NaN 
nuevo2 = pd.DataFrame(df2)
nuevo2.dropna(how='any',inplace=True)

In [ ]:
print(nuevo2)

In [ ]:
# Eliminar registros por columna
columna = df2[df2['Nombres']!='N/A']

In [ ]:
print(columna)

In [ ]:
# Reemplazar con CEROS cualquier valor NaN en el DataFrame
nuevo3 = pd.DataFrame(df2)
nuevo3.fillna(0,inplace=True)

In [ ]:
nuevo3

In [ ]:
# Imprimiendo nuevamente las estadisticas
print(nuevo3.describe())

In [ ]:
# Convertir a números enteros las calificaciones
# desplegando nuevamente estadísticas
nuevo2['Calificaciones']= nuevo2.Calificaciones.astype('int')

In [ ]:
print(nuevo2.describe())

In [ ]:
# Obteniendo estadísticas individuales (solo prom. de calificaciones)
print("promedio",nuevo2['Calificaciones'].mean())

<hr>
    <h2>Ejercicio 2 PANDAS</h2>
</hr>

In [ ]:
# Cargando la libreria PANDAS
import pandas as pd

df = pd.read_csv('datos.csv')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
# Número de líneas del archivo cargado 
len(df)

In [ ]:
# Para saber de que tipo son las columnas
df.dtypes

In [ ]:
df.Year[10000:10100]

In [ ]:
df.tail()

In [ ]:
# Renombrando las columnas (indices)
df.columns=['Año','Posicion','Compañia','Ventas','Ingresos']

In [ ]:
df.tail()

In [ ]:
# Buscando las filas que no cumplan con un patrón
no_ganancia = df.Ganancia.str.contains('[^0-9.-]')

In [ ]:
df.loc[no_ganancia].head()

In [ ]:
no_ganancia

In [ ]:
type(no_ganancia)

In [ ]:
len(df.Ganancia[no_ganancia])/len(df)*100

<hr>
<h2>Ejercicio 3 PANDAS</h2>
<hr>

In [ ]:
import pandas as pd

data = pd.read_csv('movie_metadata.csv',dtype={'title_year':str})

In [ ]:
data['title_year']

In [ ]:
data.head()

In [ ]:
data.duration

In [ ]:
data['director_name']

In [ ]:
# desplegando las primeras 10 filas (solo la columna nombre del director)
data['director_name'][:10]

In [ ]:
# Desplegando solo dos columnas del DataFrame (nombre del director y duracion)
data[['director_name','duration']]

In [ ]:
# desplagando solo las filas donde la duracion es mayor a 120 minutos 
data[data['duration']>120]

In [ ]:
# Reemplazando los valores N/A en la columna duracion por el valor promedio
data.duration = data.duration.fillna(data.duration.mean())

In [ ]:
# desplagando las primeras 10 filas (solo columna duración)
data['duration'][:10]

In [ ]:
# --------    Remover Filas incompletas -------------
# Borrar todas las filas con CUALQUIER valor iguan a N/A
#     data.dropna()
# Borrando todas las filas que tienen TODOS sus valores con N/A
#      data.dropna(how='all')
# Borrando las filas con 5 o más valores N/A 
#     data.dropna(thresh=5)
#

In [ ]:
data1= data2= data3 = data

In [ ]:
data1.dropna()

In [ ]:
data2.dropna(how='all')

In [ ]:
data3.dropna(thresh=1)

In [ ]:
# Borrar en base a una columna (estableciendo un subconjunto)
data4 = data
data4.dropna(subset=['title_year'])

In [ ]:
# Trabajando sobre columnas
data.dropna(axis=1,how='all')

In [ ]:
# Trabajando sobre columnas
# Borrar todas las columnas donde alguno de sus valores son N/A
data.dropna(axis=1,how='any')

<hr>
<h2>Ejercicio 4 PANDAS</h2>
<hr>

In [2]:
# Método generico para lectura de archivos
# pd.read_table(dir_archivo, engine='python', sep=';', header=True|False,
#                   name=[lista con nombres de columnas])

In [16]:
# Cargando el archivo. users.txt
import pandas as pd
userHeader = ['user_id','gender','age','ocupation','zip']
users = pd.read_csv('ejemplo2/users.txt', engine='python',sep='::',header=None,names=userHeader)

In [17]:
users.head()

   user_id gender  age  ocupation    zip
0        1      F    1         10  48067
1        2      M   56         16  70072
2        3      M   25         15  55117
3        4      M   45          7  02460
4        5      M   25         20  55455

In [18]:
# Hacer un MERGE entre USUARIOS y RAITINGS
ratingHeader = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv('ejemplo2/ratings.txt', engine='python',sep='::',header=None,names=ratingHeader)
ratings.to_excel('votaciones.xlsx')

In [19]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [20]:
# Haciendo el MERGE
merger_ratings_users = pd.merge(users,ratings)

In [21]:
merger_ratings_users.head()

   user_id gender  age  ocupation    zip  movie_id  rating  timestamp
0        1      F    1         10  48067      1193       5  978300760
1        1      F    1         10  48067       661       3  978302109
2        1      F    1         10  48067       914       3  978301968
3        1      F    1         10  48067      3408       4  978300275
4        1      F    1         10  48067      2355       5  978824291

In [22]:
# Cargando las PELICULAS
movieHeader = ['movie_id','title','genders']
movies = pd.read_csv('ejemplo2/movies.txt', engine='python',sep='::',header=None,names=movieHeader)
df = pd.DataFrame(movies)
movies.to_excel('ejemplo2/peliculas.xlsx')

In [23]:
movies.head()

   movie_id                               title                       genders
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [24]:
df.head()

   movie_id                               title                       genders
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [25]:
# Haciendo el MERGE de los DataFrames generados: users, rating, movies
mergeRatings = pd.merge(pd.merge(users,ratings), movies)

In [26]:
mergeRatings

,user_id,gender,age,ocupation,zip,movie_id,rating,timestamp,title,genders
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,M,25,15,94040,3084,3,962757020,Home Page (1999),Documentary
1000180,4802,M,56,1,40601,2218,2,1014866656,Juno and Paycock (1930),Drama
1000181,4812,M,18,14,25301,2308,2,962932391,Detroit 9000 (1973),Action|Crime
1000182,4874,F,25,4,70808,624,4,962781918,Condition Red (1995),Action|Drama|Thriller
1000183,5059,M,45,16,22652,1434,4,962484364,"Stranger, The (1994)",Action
1000184,5947,F,45,16,97215,1434,4,957190428,"Stranger, The (1994)",Action
1000185,5077,M,25,2,20037,1868,3,962417299,"Truce, The (1996)",Drama|War
1000186,5944,F,18,10,27606,1868,1,957197520,"Truce, The (1996)",Drama|War
1000187,5105,M,50,7,18977,404,3,962337582,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,F,35,4,44485,404,4,963402617,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,M,25,17,27408,404,5,959619841,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,M,25,17,97401,404,3,960127592,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,M,25,7,91436,2543,3,961546137,Six Ways to Sunday (1997),Comedy
1000192,5754,F,18,1,60640,2543,4,958272316,Six Ways to Sunday (1997),Comedy
1000193,5227,M,18,10,64050,591,3,961475931,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,M,25,1,92688,591,1,958145253,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,M,56,0,55406,3656,5,960920392,Lured (1947),Crime
1000196,5328,F,25,4,91740,2438,4,960838075,Outside Ozona (1998),Drama|Thriller
1000197,5334,F,56,13,46140,3323,3,960796159,Chain of Fools (2000),Comedy|Crime
1000198,5334,F,56,13,46140,127,1,960795494,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama
1000200,5420,F,1,19,14850,1843,3,960156505,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,F,35,17,45014,286,3,960240881,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,F,35,17,94306,3530,4,959816296,Smoking/No Smoking (1993),Comedy
1000203,5556,M,45,6,92103,2198,3,959445515,Modulations (1998),Documentary
1000204,5949,M,18,17,47901,2198,5,958846401,Modulations (1998),Documentary
1000205,5675,M,35,14,30030,2703,3,976029116,Broken Vessels (1998),Drama
1000206,5780,M,18,17,92886,2845,1,958153068,White Boys (1999),Drama
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,M,25,1,35401,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [32]:
# Agrupando Filas con groupby()
#ratings = mergeRatings.groupby('movie_id')[['rating']].sum()
ratings = mergeRatings.groupby('title')[['rating']].sum()

In [34]:
ratings

                               rating
title
$1,000,000 Duck (1971)            112
'Night Mother (1986)              236
'Til There Was You (1997)         140
'burbs, The (1989)                882
...And Justice for All (1979)     739

In [35]:
#Obteniendo la votacion mas alta
ratings2 = mergeRatings.groupby('title')[['rating']].max()

In [36]:
ratings2

                                                rating
title
$1,000,000 Duck (1971)                               5
'Night Mother (1986)                                 5
'Til There Was You (1997)                            5
'burbs, The (1989)                                   5
...And Justice for All (1979)                        5
1-900 (1994)                                         3
10 Things I Hate About You (1999)                    5
101 Dalmatians (1961)                                5
101 Dalmatians (1996)                                5
12 Angry Men (1957)                                  5
13th Warrior, The (1999)                             5
187 (1997)                                           5
2 Days in the Valley (1996)                          5
20 Dates (1998)                                      5
20,000 Leagues Under the Sea (1954)                  5
200 Cigarettes (1999)                                5
2001: A Space Odyssey (1968)                         5
2010 (1984)                                          5
24 7: Twenty Four Seven (1997)                       5
24-hour Woman (1998)                                 3
28 Days (2000)                                       5
3 Ninjas: High Noon On Mega Mountain (1998)          4
3 Strikes (2000)                                     4
301, 302 (1995)                                      4
39 Steps, The (1935)                                 5
400 Blows, The (Les Quatre cents coups) (1959)       5
42 Up (1998)                                         5
52 Pick-Up (1986)                                    5
54 (1998)                                            5
7th Voyage of Sinbad, The (1958)                     5
...                                                ...
Wrongfully Accused (1998)                            5
Wyatt Earp (1994)                                    5
X-Files: Fight the Future, The (1998)                5
X-Men (2000)                                         5
X: The Unknown (1956)                                4
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)         5
Yankee Zulu (1994)                                   3
Yards, The (1999)                                    5
Year My Voice Broke, The (1987)                      5
Year of Living Dangerously (1982)                    5
Year of the Horse (1997)                             5
Yellow Submarine (1968)                              5
Yojimbo (1961)                                       5
You Can't Take It With You (1938)                    5
You So Crazy (1994)                                  5
You've Got Mail (1998)                               5
Young Doctors in Love (1982)                         5
Young Frankenstein (1974)                            5
Young Guns (1988)                                    5
Young Guns II (1990)                                 5
Young Poisoner's Handbook, The (1995)                5
Young Sherlock Holmes (1985)                         5
Young and Innocent (1937)                            5
Your Friends and Neighbors (1998)                    5
Zachariah (1971)                                     5
Zed & Two Noughts, A (1985)                          5
Zero Effect (1998)                                   5
Zero Kelvin (Kjærlighetens kjøtere) (1995)           4
Zeus and Roxanne (1997)                              5
eXistenZ (1999)                                      5

[3706 rows x 1 columns]

In [39]:
#Obteniendo la votacion mas alta
print(ratings2['rating'].max() )

5